version: "3"
services:
  app:
    build: ./
    restart: always
    volumes:
      - .:/app
    ports:
      - 5000:5000
    environment:
      - GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY
      - GOOGLE_API_REFRESH_INTERVAL=30
      - HOST=localhost
      - PORT=5000
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_DBNAME=fampay
      - REDIS_PORT=6379
      - REDIS_HOST=redis
      - SENTRY_DSN=YOUR_SENTRY_DSN
      - YT_SEARCH_QUERY=music
    command:
      sh -c 'npm i && npm start'
    links:
      - mongo
      - redis

  mongo:
    container_name: mongo
    image: mongo
    environment:
      MONGO_INITDB_DATABASE: fampay
    ports:
      - "27017:27017"

  redis:
    container_name: redis
    image: redis
    expose:
      - 6379
